DB_TABLE=lark_messages
LARK_APPID=
LARK_APP_SECRET=
LARK_TOKEN=
OPENAI_API_KEY=
START_CMD=/rs
MAIN_FUN_ARN=
MODEL_NAME=claude-instant
template_id=
multi_rounds=true
use_qa=true
temperature=0.1
max_tokens=2048
hideRef=true
use_trace=false
UPLOAD_BUCKET=
