CDK_DEFAULT_REGION=us-west-2
CDK_DEFAULT_ACCOUNT=
DB_TABLE=lark_messages
LARK_APPID=
LARK_APP_SECRET=
LARK_TOKEN=
OPENAI_API_KEY=
START_CMD=/rs
MAIN_FUN_ARN=
MODEL_NAME=claude-instant
template_id=
multi_rounds=true
use_qa=true
temperature=0.1
max_tokens=1024
hideRef=false
use_trace=false
UPLOAD_BUCKET=
